:root {
    --info-icon: gray;

    --score-circle: #d81b60;
    --score-number: #a00037;
    --score-number-icon: #d81960;
    --score-info-icon: gray;
    --score-hint-text: #666;
    --score-distance-ok: #64dd17;
    --score-distance-warn: #ffd600;
    --score-distance-danger: #d50000;

    --log-entry-contact-score: #d81b60;
    --log-entry-total-score: blue;
    --log-entry-timestamp: gray;

    --text-dark: #222;
}
