:root {
    --info-icon: gray;
    --score-circle: #b33191;
    --score-number: #0d4598;
    --score-info-icon: gray;
    --score-hint-text: black;
    --log-entry-contact-score: deeppink;
    --log-entry-total-score: blue;
    --log-entry-timestamp: gray;
}
