:root {
    --info-icon: gray;
    --score-circle: #d81b60;
    --score-number: #a00037;
    --score-number-icon: gray;
    --score-info-icon: gray;
    --score-hint-text: #222;
    --log-entry-contact-score: #d81b60;
    --log-entry-total-score: blue;
    --log-entry-timestamp: gray;

    --text-dark: #222;
}
