.flex-center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.score-area {
    position: relative;
}

.danger-level-ok {
    ::ng-deep .score-container {
        border-color: var(--score-distance-ok);
    }
}

.danger-level-warn {
    ::ng-deep .score-container {
        border-color: var(--score-distance-warn);
    }
}

.danger-level-danger {
    ::ng-deep .score-container {
        border-color: var(--score-distance-danger);
    }
}
