<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-padding-start">Corona GO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <div class="score-hint full-center">
        <h1 class="score-title">
<!--            <span i18n class="score-hint-text">Personen-Kontakte</span>-->
            <!--            <span class="score-hint-info-icon">-->
            <!--                <fa-icon [icon]="icons.info"></fa-icon>-->
            <!--            </span>-->
        </h1>

    </div>

    <div class="score-area">
        <ng-container *ngFor="let score of nearbyScores">
            <ui-nearby-score
                class="animated infinite pulse slower"
                [nearbyScore]="score" [ngStyle]="score.slot"></ui-nearby-score>
        </ng-container>
        <ui-score-counter score="7392" showHintText="true"></ui-score-counter>
    </div>

    <!--    <div style="text-align: center; padding: 50px 20px;">-->
    <!--        <fa-icon [icon]="icons.infoCircle"></fa-icon> Was bedeutet das?-->
    <!--    </div>-->

</ion-content>
