<ion-header>
        <ion-toolbar color="primary">
            <ion-title class="ion-padding-start">Corona GO</ion-title>
        </ion-toolbar>
<!--    <div class="header">-->
<!--        <div class="image-container">-->
<!--            <img src="assets/icon/icon.png" alt="">-->
<!--        </div>-->
<!--        <div class="title-container">-->
<!--            Corona Go-->
<!--        </div>-->
<!--    </div>-->
</ion-header>


<ion-content [fullscreen]="true">

<!--    <div class="virus-background">-->
<!--        <img src="assets/icon/virus.svg">-->
<!--    </div>-->

    <div class="flex-center-container">
        <div class="score-area">
            <ng-container *ngFor="let score of nearbyScores; let i=index">
                <ui-nearby-score-counter
                    class="animated infinite pulse slower"
                    [nearbyContactScore]="score" [ngStyle]="score.slot"></ui-nearby-score-counter>
            </ng-container>
            <ui-score-counter [contactScore]="contactScore"
                              [class.danger-level-ok]="dangerLevel === 0"
                              [class.danger-level-warn]="dangerLevel === 1"
                              [class.danger-level-danger]="dangerLevel === 2"
                              showHintText="true"
                              textBorderOffsetPx="200"></ui-score-counter>
        </div>

        <!--    <div style="text-align: center; padding: 50px 20px;">-->
        <!--        <fa-icon [icon]="icons.infoCircle"></fa-icon> Was bedeutet das?-->
        <!--    </div>-->

        <div class="danger-level-hint">
            <div class="level-0" *ngIf="dangerLevel === 0" i18n>
                <fa-icon [icon]="icons.ok"></fa-icon>
                Keine Personen-Kontakte in deiner Umgebung<br><br>
            </div>
            <div class="level-1" *ngIf="dangerLevel === 1" i18n>
                <fa-icon [icon]="icons.warn"></fa-icon>
                <b class="keyword">Vorsicht!</b> Personen in der Umgebung. Deine Personen-Kontakte könnten sich
                vergrößern.
            </div>
            <div class="level-2" *ngIf="dangerLevel === 2" i18n>
                <fa-icon [icon]="icons.danger"></fa-icon>
                <b class="keyword">Gefahr!</b> Mindestens eine Person zu nahe! Versuche die Situation zu umgehen!
            </div>
        </div>
    </div>

</ion-content>
