.score-hint {
    margin-bottom: 40px;
    padding-top: 10px;

    .score-title {
        font-size: 2em;
        white-space: normal;
        word-break: break-word;
        font-weight: bold;
    }

    .score-hint-text {
        color: var(--score-hint-text)
    }

    .score-hint-info-icon {
        color: var(--score-info-icon);
        font-size: .5em;
        font-weight: bold;
        margin-left: 10px;
    }

    .info-icon {
    }
}
