<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-padding-start">
            {{ 'TITLE_DISCLAIMER' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ui-disclaimer></ui-disclaimer>
</ion-content>

<ion-footer>
    <ion-toolbar class="ion-padding-start ion-padding-end">
        <ion-button slot="start" color="medium" fill="clear" (click)="deny()">
            {{ 'BUTTON_DECLINE' | translate }}
        </ion-button>
        <ion-button slot="end" color="success" (click)="confirm()">
            {{ 'BUTTON_ACCEPT' | translate }}
        </ion-button>
    </ion-toolbar>
</ion-footer>
