<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-padding-start" i18n>Haftungsausschluss</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ui-disclaimer></ui-disclaimer>
</ion-content>

<ion-footer>
    <ion-toolbar class="ion-padding-start ion-padding-end">
        <ion-button slot="start" color="medium" fill="clear" i18n (click)="deny()">Ablehnen</ion-button>
        <ion-button slot="end" color="success" i18n (click)="confirm()">Akzeptieren</ion-button>
    </ion-toolbar>
</ion-footer>
