<div class="score-container" #container>
    <div class="group-icon" *ngIf="iconPosition === 'above'">
        <fa-icon [icon]="icon ? icon : icons.user"></fa-icon>
    </div>

    <div class="score" #scoreText>
        {{ contactScore.score | number: '' : 'de-DE' }}<br>
    </div>

    <div i18n *ngIf="showHintText" class="person-contacts-hint">
        Personen-Kontakte
    </div>

    <div class="group-icon" *ngIf="iconPosition === 'below'">
        <fa-icon [icon]="icon ? icon : icons.user"></fa-icon>
    </div>

    <div class="debug-info" *ngIf="showNodeDebugInfo">
        <span class="rssi">
            {{ contactScore.rssi }}
        </span><br>
        <span class="user-id">
            {{ contactScore.userId.substr(0, 10) }}
        </span>
    </div>
</div>
