:host {
    display: block;
}

.score-container {
    width: 80vw;
    height: 80vw;
    border: 40px groove var(--score-circle);
    border-radius: 100%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .score {
        font-size: 5em;
        //font-size: 600%;
        font-weight: bold;
        color: var(--score-number);
        text-shadow: 2px 2px 3px #888888e6;
        text-align: center;
    }

    .group-icon {
        font-size: 60px;
        color: var(--score-number-icon);
    }
}
