:host {
    display: block;
}

.score-container {
    width: 95vw;
    height: 95vw;
    border: 40px groove var(--score-circle);
    border-radius: 100%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    .score {
        font-size: 5em;
        font-weight: bold;
        color: var(--score-number);
        text-shadow: 2px 2px 3px #888888e6;
        text-align: center;
    }

    .group-icon {
        font-size: 60px;
        color: var(--score-number-icon);
    }

    .person-contacts-hint {
        font-size: 22px;
        margin-top: -12px;
        font-weight: 500;
    }
}
