<div class="score-container" #container [ngStyle]="{ borderColor: rssi ? getColor(rssi) : '' }">
    <div class="group-icon" *ngIf="iconPosition === 'above'">
        <fa-icon [icon]="icon ? icon : icons.user"></fa-icon>
    </div>

    <div class="score" #scoreText>
        {{ score }}<br>
    </div>

    <div i18n *ngIf="showHintText" class="person-contacts-hint">
        Personen-Kontakte
    </div>

    <div class="group-icon" *ngIf="iconPosition === 'below'">
        <fa-icon [icon]="icon ? icon : icons.user"></fa-icon>
    </div>
</div>
