<p>
    „Ich bin damit einverstanden, dass meine Bluetooth-Signale (eindeutige Nutzer ID; Signalstärke zur Abschätzung der
    Distanz) sowie meine Standortdaten (Hintergrund-GPS) zum Zwecke der eigenen Risikoeischätzung und zur Bekämpfung und
    Eindämmung der Corona Pandemie verwendet werden um:

    mir als Nutzer anhand einer Kontakt-Kennzahl eine eigene Risikoeinschätzung der jeweiligen Umgebung zu ermöglichen
    und;
    dem Land Saarland zu ermöglichen etwaige Infektionswege und Cluster nachzuverfolgen und anonymisiert per GPS/Karte
    zu visualisieren, um den Behörden zu helfen, die Ausbreitungsgeschwindigkeit der Pandemie zu verlangsamen.
    Sie können diese Einwilligung jederzeit mit Wirkung für die Zukunft in Einstellungen -> Rechtliches widerrufen.
    Weitere Informationen finden Sie in unserer Datenschutzerklärung“
</p>
