<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="score">
            <fa-icon [icon]="icons.user"></fa-icon>
            <ion-label style="white-space: nowrap">Personen-Kontakte</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="score-log">
            <fa-icon [icon]="icons.history"></fa-icon>
            <ion-label>Verlauf</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="openNewsPage()">
            <fa-icon [icon]="icons.news"></fa-icon>
            <ion-label>News</ion-label>
        </ion-tab-button>

<!--        <ion-tab-button tab="message-box">-->
<!--            <fa-icon [icon]="icons.messages"></fa-icon>-->
<!--            <ion-label>Messages</ion-label>-->
<!--        </ion-tab-button>-->

        <ion-tab-button tab="info">
            <fa-icon [icon]="icons.infoCircle"></fa-icon>
            <ion-label>Info</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>

